{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %}
{% block content %}


<div class="signup-form">

		<h2>Log in</h2>
		<p>Please fill in this form to log in!</p>
		<hr>
		<form class="form-group" method="POST" action="/login">

        <div class="form-group">
        {{ form.hidden_tag() }} {{ wtf.form_field(form.email) }}
        </div>

				<div class="form-group">
				{{ form.hidden_tag() }} {{ wtf.form_field(form.password) }}
				</div>

				<div class="form-group">
          <input type="submit" class="btn btn-primary" style="background-color:#FFD447;" value="Login" />
        </div>


</form>
 </div>

{% endblock %}
